.feature-page {
    min-height: 100vh;
    background: linear-gradient(135deg,#6a11cb,#2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.feature-card {
    width: 100%;
    max-width: 450px;
    background: white;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}

    .feature-card h1 {
        color: #2575fc;
        font-size: 42px;
    }

    .feature-card p {
        color: #555;
        font-size: 18px;
    }

.status-box {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px;
    background: #f4f6ff;
}

    .status-box h3 {
        color: #666;
        margin-bottom: 10px;
    }

    .status-box h2 {
        color: #2575fc;
    }

.feature-btn {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 18px;
    background: linear-gradient(135deg,#6a11cb,#2575fc);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
